<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>About CHOCO</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="About CHOCO">

<p>
  Choco is a java library for constraint satisfaction problems (CSP), 
  constraint programming (CP) and explanation-based constraint solving (e-CP).<br/>
  It is built on a event-based propagation mechanism with backtrackable structures.
</p>
  
<p>
  Choco is an open-source software, distributed under a <a href="choco-licence.html">BSD Licence</a> 
  and hosted by <a href="http://sourceforge.net/projects/choco/">Sourceforge.net</a>. 
</p>

<p>
  <a href="http://www.jetbrains.com/idea/features/code_analysis.html" target="_blank">
  <img src="http://www.jetbrains.com/idea/opensource/img/banners/idea468x60_white.gif"/></a>
</p>
</section>
</body>
</document>

