<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>Publications</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="Publications">

<p>Here is the list of publications related to <tt>choco</tt>.</p>

<p>
  <i>This section is still under construction</i>.
</p>  
<p>
  If you want to present on of your article that mentions <tt>choco</tt>, contact us at <A HREF="mailto:choco@emn.fr?subject=[ARTICLE]">add article to <tt>choco</tt>'s bibtex</A>.
</p>
</section>
</body>
</document>

