<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>Articles</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="Articles">

<p>
  This section is still under construction.
</p>  
<p>
  If you want to present on of your article that mentions CHOCO, contact us: <u>choco@emn.fr</u>.
</p>
</section>
</body>
</document>

