<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>Publications</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="Publications">

<p>Here is the list of publications related to CHOCO.</p>

<p>
  <i>This section is still under construction</i>.
</p>  
<p>
  If you want to present on of your article that mentions CHOCO, contact us at <A HREF="choco@emn.fr" TITLE="[ART][ADD]">add article to choco's bibtex</A>.
</p>
</section>
</body>
</document>

