<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>Documentation</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="Documentation">

<p>
  This section is still under construction.
</p>  
<p>
  You can download the current <a href="./tex/choco.pdf" class="externalLink" target="_blank">documentation</a> in PDF format
</p>  
<p>
  If you want to participate to the elaboration of the documentation of CHOCO, contact us: <u>choco@emn.fr</u>.
</p>
</section>
</body>
</document>

