<?xml version="1.0" encoding="utf-8"?>
<document>
  <properties>
    <title>Applications</title>
    <author>CHOCO Development Team</author>
    </properties>
<body>

<section name="Applications">

<p>
  This section is still under construction.
</p>  
<p>
  If you want to present on of your application that uses <tt>choco</tt>, mail us at <a HREF="mailto:choco@emn.fr?subject=[APPLI]">application using <tt>choco</tt></a>.
</p>
</section>
</body>
</document>

